<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>TWITTER CLONE</title>
	<!-- Favicon -->
	<link href="icons.Favicon.png" type="images/x-icon" rel="icon">
	<link rel="stylesheet" type="text/css" href="css/materialize.css"> 
  <link rel="stylesheet" type="text/css" href="css/custom.css"> 
  </head>
  <!-- Body -->
  <body>
  <!--Navigation-->
    <div class="navbar-fixed">
      <nav class="green">
      <!-- Desktop -->
        <ul class="right hide-on-med-and-down">
          <li><a href="">Home</a></li>
          <li><a href="">Profile</a></li>
          <li><a href="">Hastags</a></li>
          <li><a href="">Messages</a></li>
          <li><a href="">Notifications</a></li>
          <li><a href="">Settings</a></li>
        </ul>
        <!-- Mobile And Tablets -->

        <ul class="center-align hide-on-large-only">
          <div class="container">
            <li><a href="">Home</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Hastags</a></li>
            <li><a href="">Messages</a></li>
            <li><a href="">Notifications</a></li>
            <!-- <li><a href="">Settings</a></li> -->
          </div>
        </ul> 
      </nav>
    </div>
    <!-- -->
    <!-- Forms -->
    <br>
      <div class="container">
        <div class="signup">
          <form>
            <input type="text" name="" placeholder="First Name" class="input">
            <input type="text" name="" placeholder="Last Name">
            <input type="email" name="" placeholder="Email">
            <input type="password" name="" placeholder="Password">
            <input type="password" name="" placeholder="Confirm Password">
            <input type="submit" value="submit" class="btn btn-medium effect  green right">
          </form>
        </div>
      </div>
  
  


  <script type="text/javascript" src="js/materialize.min.js"></script>
    

</body>
</html>